.contour-params {
    border: 1px var(--border) solid;
    border-radius: 10px;
    width: 30%;
    font-size: 0.8em;
    margin: 1em;
}

.inline {
}

.flex {
    align-items: top;
    display: flex;
    justify-content: space-between;
}
.selector {
    width: 300px;
}
.contour-params input {
    /*margin: 10px;*/
}

.slider-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
    margin: 0.1em 0.5em;
}

.cp-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
}
.cp-header * {
    margin: 0.1em 0.5em;
}
.cp-header label {
    font-size: 0.8em;
}

input[type="checkbox"] {
    width: auto;
}

.enabled-box {
    display: flex;
    align-items: center;
}

.vertical {
    writing-mode: vertical-lr;
    direction: rtl;
    height: 512px;
}
